<div class="container text-center">
    <h2>Check out my page</h2>
    <div class="row">
        <% %w(berlin paris tokyo montreal london amsterdam rio).each do |city| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/<%= city %>')">
                  <h3><%= city.capitalize %></h3>
              </div>
          </div>
        <% end %>
    </div>
</div>
